@import "./styles/fonts.css";
*{
    word-break: keep-all;
    word-wrap: break-word;
}

.center-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
